<?xml version="1.0" encoding="UTF-8"?>
<Events>
	<Event>
		<Id>1690274864232</Id>
		<Name><![CDATA[e_InitialEnginePause]]></Name>
		<X>30</X>
		<Y>570</Y>
		<Label>
			<X>10</X>
			<Y>0</Y>
		</Label>
		<PublicFlag>false</PublicFlag>
		<PresentationFlag>true</PresentationFlag>
		<ShowLabel>true</ShowLabel>
		<Properties TriggerType="timeout" Mode="occuresOnce">
			<Timeout Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">MINUTE</Unit>
			</Timeout>
			<Rate Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="RateUnits">PER_MINUTE</Unit>
			</Rate>
			<OccurrenceAtTime>true</OccurrenceAtTime>
			<OccurrenceDate>1690358400000</OccurrenceDate>
			<OccurrenceTime Class="CodeUnitValue">
				<Code><![CDATA[0.0]]></Code>
				<Unit Class="TimeUnits">MILLISECOND</Unit>
			</OccurrenceTime>
			<RecurrenceCode Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">MINUTE</Unit>
			</RecurrenceCode>
			<Condition>false</Condition>
		</Properties>
		<Action xmlns:al="http://anylogic.com"/>
	</Event>
	<Event>
		<Id>1690301529614</Id>
		<Name><![CDATA[e_CyclicPojoOutContainerCreator]]></Name>
		<Description><![CDATA[It stores all the scenario data during the simulation run cyclicly, to enable the modelers write them in the database output tables at once at the end of the simulation run.

// Ignore this event untill when we really make the pojoOutContainers work.]]></Description>
		<ExcludeFromBuild>true</ExcludeFromBuild>
		<X>30</X>
		<Y>590</Y>
		<Label>
			<X>10</X>
			<Y>0</Y>
		</Label>
		<PublicFlag>false</PublicFlag>
		<PresentationFlag>true</PresentationFlag>
		<ShowLabel>true</ShowLabel>
		<Properties TriggerType="timeout" Mode="cyclic">
			<Timeout Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">MINUTE</Unit>
			</Timeout>
			<Rate Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="RateUnits">PER_MINUTE</Unit>
			</Rate>
			<OccurrenceAtTime>true</OccurrenceAtTime>
			<OccurrenceDate>1690358400000</OccurrenceDate>
			<OccurrenceTime Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">MINUTE</Unit>
			</OccurrenceTime>
			<RecurrenceCode Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">MINUTE</Unit>
			</RecurrenceCode>
			<Condition>false</Condition>
		</Properties>
		<Action xmlns:al="http://anylogic.com"/>
	</Event>
</Events>
